.nfs*
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
output/
imgs/
figs/
logs/
plot*.py
test2015.zip.000
train2014.zip.000
val2014.zip.000
train2017.zip.000
val2017.zip.000
test2015.zip
train2014.zip
val2014.zip
train2017.zip
val2017.zip
lightning_logs/*
test2017.*
wandb
wandb/*
ClipToMask/*
wandb/debug.log
wandb/debug-internal.log
wandb/latest-run
wandb/debug-internal.log
wandb/debug.log
wandb
wandb/*
actions-runner/*